.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
  margin: auto;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input {
  display: block;
  width: 500px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 1px;
}

.form_control {
  margin-bottom: 20px;
}

.error {
  color: red;
}
